.preloader {
    margin-left: calc(50% - 100px);
    width: 100px;
    height: 100px;
    background-image: url("../../../resource/loader_cat.gif");
    background-repeat: no-repeat;
    background-size: cover;
}